@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "./custom-responsive-utilities.less";

@import "../bower_components/font-awesome/less/font-awesome.less";
@FontAwesomePath: "../fonts/font-awesome";

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.jumbotron {
  margin: 50px auto 0 auto;
}

