<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <script>
    var DEBUG_MODE_ON = true;

    if (!DEBUG_MODE_ON) {
        console = console || {};
        console.log = function(){};
    }

    </script>
    <style>
        .status-box {

        }

        .status-box .progress {
            margin-top: 0.5em;
        }

        .status-box .elem {
            padding: 0.5em;
        }

        .title {
            /*border:1px solid;*/
        }
    </style>
</head>
<body ng-app="boostrapTwitter3App">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div class="container" ng-view=""></div> -->
    <!-- <li>Font Awesome <i class="icon-flag"></i></li> -->

    <div class="container" ng-controller="gamificationCtrl" ng-cloak>
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{title}}</h2></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-xs-10">
                        <div class="row">
                            <div class="col-lg-4">
                                <h1 class="title">Level {{hero.level}}</h1>
                            </div>
                            <div class="col-lg-8">
                                <h1 class="title text-right">
                                    {{"**" +  hero.rang + "**" || ''}}
                                </h1>
                            </div>
                        </div><!--/ primary status section-->
                        <div class="row status-box">
                            <div class="col-lg-10 col-md-10 col-xs-10">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" id="level-progress"  role="progressbar" aria-valuenow="{{hero.progress}}" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">{{hero.progress}}% Complete</span>
                                    </div>
                                </div>
                            </div><!--/ end col 8-->
                            <div class="col-lg-2 col-md-2 col-xs-2">
                                <button type="button" class="btn btn-primary" ng-click="add()">Level Up</button>
                            </div><!--/ end col 2-->
                        </div><!--/ progress section-->
                        <div class="row ">
                            <div class="col-lg-10 col-md-10 col-xs-10">
                                <div class="panel panel-default missions-section">
                                    <div class="panel-body">
                                        <h4 class="gm-title">Objectives</h4>
                                    </div>
                                    <div class="panel-footer">
                                        <form role="form" ng-controller="missionCtrl">
                                            <fieldset >
                                                <div class="checkbox" ng-repeat="(key, object) in currMission.now">
                                                    <label>
                                                        <input type="checkbox" ng-checked="object.status"> {{object.title}}
                                                    </label>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div><!--/ score section-->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2">
                        <div class="panel panel-default score-section  text-center">
                            <div class="panel-body">
                                <h4 class="gm-title">Score</h4>
                            </div>
                            <div class="panel-footer">
                                <h1 ng-animate="'animate'">
                                    <b>{{hero.score + 'p'}}</b>
                                </h1>
                            </div>
                        </div><!--/ score section-->
                        <div class="panel panel-default" ng-show="checkTrophies()">
                            <div class="panel-body">
                                <h4 class="gm-title text-center">War trophy </h4>
                            </div>
                            <div class="panel-footer">
                                <ul class="nav">
                                    <li class="elem"  ng-repeat="(key,trophy) in hero.trophies">
                                        <b class="orderList">{{'#' + (key +1) }}</b>
                                        <img ng-src="{{trophy.href}}" alt="{{trophy.title}}" class="img-thumbnail">
                                    </li>
                                </ul>
                            </div>
                        </div><!--/ trophies section-->
                    </div>
                </div><!--/ end row-->
            </div>
        </div>
    </div>

     <!-- build:js scripts/main.js -->
     <script src="bower_components/jquery/jquery.js"></script>
     <script src="bower_components/angular/angular.js"></script>

     <!-- build:js scripts/modules.js -->
     <script src="bower_components/angular-resource/angular-resource.js"></script>
     <script src="bower_components/angular-cookies/angular-cookies.js"></script>
     <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
     <script src="bower_components/angular-cache/dist/angular-cache.min.js"></script>
     <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/gamification/gamCtrl.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/bootstrap.js -->
    <script src="bower_components/bootstrap/js/affix.js"></script>
    <script src="bower_components/bootstrap/js/alert.js"></script>
    <script src="bower_components/bootstrap/js/dropdown.js"></script>
    <script src="bower_components/bootstrap/js/tooltip.js"></script>
    <script src="bower_components/bootstrap/js/modal.js"></script>
    <script src="bower_components/bootstrap/js/transition.js"></script>
    <script src="bower_components/bootstrap/js/button.js"></script>
    <script src="bower_components/bootstrap/js/popover.js"></script>
    <script src="bower_components/bootstrap/js/carousel.js"></script>
    <script src="bower_components/bootstrap/js/scrollspy.js"></script>
    <script src="bower_components/bootstrap/js/collapse.js"></script>
    <script src="bower_components/bootstrap/js/tab.js"></script>
    <!-- endbuild -->
</body>
</html>
